* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lota Grotesque", sans-serif;
}
.row {
  display: flex;
  height: 42px;
}
.rows {
  display: flex;
}
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
.nav {
  background-color: #000000;
  color: #b2b2b2;
}
.left-nav a {
  cursor: pointer;
  margin-left: 15px;
  padding: 15px;
  text-decoration: none;
  font-size: 12px;
}
.right-nav p {
  cursor: pointer;
  padding-right: 15px;
  padding: 15px;
  text-decoration: none;
  font-size: 12px;
  color: white;
}
.left-nav a:visited {
  color: #b2b2b2;
}
.left-nav a:hover {
  background-color: #282828;
  transition: 0.4s;
}
.left-nav a:active {
  border-bottom: solid 4px #35c0e2;
  color: aliceblue;
}

.right-nav :first-child a {
  cursor: pointer;
  margin-left: 15px;
  padding: 7px;
  text-decoration: none;
  font-size: 15px;
}
.right-nav a:last-child img {
  cursor: pointer;
  margin-top: 12px;
  text-decoration: none;
}
.right-nav a:visited {
  color: aliceblue;
}
.right-nav {
  justify-content: end;
}
.right-nav a:hover {
  transition: 0.4s;
  background-color: #282828;
}
.kabinet p {
  cursor: pointer;
  padding-right: 15px;
  padding: 15px;
  text-decoration: none;
  font-size: 12px;
  color: white;
}
.kabinet i {
  margin-right: 20px;
  cursor: pointer;
  margin: 13px;
}
.kabinet i {
  margin-left: 20px;
}
.kabinet {
  justify-content: end;
}
.kabinet p {
  cursor: pointer;
  padding-right: 30px;
}
.kabinet a {
  cursor: pointer;
  margin: 13px;
}
.navbar {
  height: 100px;
}
.photo {
  background-image: url(../css/img/azercell1.webp);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: purple;
  height: 644px;
  width: 100%;
}
.pay b {
  text-align: center;
  justify-content: center;
  display: flex;
  color: white;
  margin-top: 14px;
  margin-right: 5px;
  font-size: 16px;
}

.left-navbar {
  height: 150px;
  margin-top: 20px;
  margin-left: 20px;
  justify-content: center;
}
.right-navbar {
  height: 80px;
  justify-content: center;
}
.right-navbar ul {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.right-navbar ul li {
  font-weight: 550;
  color: rgb(231, 231, 231);
  list-style: none;
  display: inline-block;
  margin-right: 50px;
}
.right-navbar ul li a {
  color: rgb(231, 231, 231);
  text-decoration: none;
  width: 5px;
}
.right-navbar ul li a:hover {
  border-radius: 20px;
  padding: 15px;
  background-color: rgba(169, 169, 169, 0.5);
  transition: 0.4s;
}
.navbar-center-right {
  height: 500px;
  position: relative;
}
.navbar-center-right img {
  z-index: 0;
  margin-left: 100px;
  margin-top: 10px;
}
.navbar-center {
  display: flex;
  margin-left: 140px;
  margin-top: 30px;
  align-items: center;
  font-weight: 700;
  position: relative;
  justify-content: center;
  color: rgb(221, 214, 214);
}
.navbar-center h1 {
  font-size: 55px;
  color: #ffffff;
  height: 340px;
  width: 490px;
}
.relativeslide {
  position: relative;
}
.main-slide {
  position: relative;
  z-index: 1;
}
.foot-slide {
  font-size: 14px;
  margin-top: 436px;
  position: absolute;
  z-index: 10;
  color: #ffffff;
  position: absolute;
  width: 100%;
  height: 109px;
  background-color: rgba(0, 0, 0, 0.5);
}
.mar {
  margin-right: 40px;
}
.gin {
  margin-left: 30px;
}
.slide-foot {
  margin-top: 30px;
  margin-left: 200px;
}
.small p:last-of-type {
  font-size: small;
  color: #b2b2b2;
}
.smalll p:last-of-type {
  font-size: small;
  color: transparent;
}
.animation div {
  width: 220px;
  height: 4px;
  background-color: rgba(169, 169, 169, 0.5);
  border-radius: 20px;
}
.btn {
  background-color: #f35b0c;
  color: #ffffff;
  padding: 15px 70px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: #d54f09;
}
.btn1:hover {
  background-color: #d54f09;
}
.btn2:hover {
  background-color: #d54f09;
  color: #ffffff;
}
.ctn {
  height: 523px;
  width: 100%;
}
.center {
  margin-top: 160px;
  margin-left: 150px;
}
.center h2 {
  font-size: 45px;
  font-weight: 700;
}
.center p {
  font-size: 13px;
  color: #939191;
}
.pht {
  margin-top: 80px;
}
a {
  text-decoration: none;
}
.info {
  justify-content: center;
}
.info h2 {
  justify-content: center;
  margin-right: 200px;
  font-weight: 900;
  font-size: 32px;
}
.right-info h3 {
  margin-right: 40px;
  margin-left: 40px;
}
.right-info {
  margin-top: 15px;
}
.right-info a {
  color: #818181;
}
.right-info a:hover {
  color: purple;
}
.box {
  width: 357px;
  border-radius: 12px;
  height: 640px;
  background-color: #fefefe;
}
.w {
  width: 357px;
}
.flex {
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style: none;
}
.mini-box {
  background: url(../css/img/area@3x.jpg);
  width: 357px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: purple;
  height: 141px;
}
.mini-box {
  color: #fefefe;
}
.mini-box h2 {
  margin: 25px;
  margin-right: 70px;
  font-weight: 700;
}
.mini-box p {
  font-size: 12px;
  margin: 30px;
  border-radius: 20px;
  height: 25px;
  width: 90px;
  border-color: #282828;
  padding: 5px;
  background-color: rgba(169, 169, 169, 0.5);
}
.btn1 {
  background-color: #f35b0c;
  color: #ffffff;
  padding: 10px 30px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.btn2 {
  background-color: #ffeee9;
  color: #f35b0c;
  padding: 10px 30px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.nums ul {
  padding-left: 30px;
  width: 340px;
  height: 50px;
  border-radius: 20px;
}
.nums li {
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  padding-top: 15px;
  width: 230px;
  height: 50px;
  padding-left: 22px;
  background-color: rgba(169, 169, 169, 0.5);
}
.nums li:last-of-type {
  font-weight: 700;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 15px;
  padding-top: 15px;
  width: 230px;
  height: 50px;
  padding-left: 22px;
  background-color: rgba(169, 169, 169, 0.5);
}
.nums li:first-of-type {
  font-weight: 700;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 15px;
  padding-top: 15px;
  width: 230px;
  height: 50px;
  padding-left: 22px;
  background-color: rgba(169, 169, 169, 0.5);
}
.nums li:hover {
  background-color: white;
  color: purple;
}
.container {
  margin-top: 20px;
  margin-left: 40px;
}
.diversion {
  padding-left: 30px;
}
.nums2 ul {
  padding-left: 25px;
  width: 200px;
  height: 50px;
  border-radius: 20px;
}
.nums2 li {
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  padding-top: 15px;
  width: 230px;
  height: 50px;
  padding-left: 22px;
  background-color: rgba(169, 169, 169, 0.5);
}
.nums2 li:last-of-type {
  font-weight: 700;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 15px;
  padding-top: 15px;
  width: 230px;
  height: 50px;
  padding-left: 22px;
  background-color: rgba(169, 169, 169, 0.5);
}
.nums2 li:first-of-type {
  font-weight: 700;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 15px;
  padding-top: 15px;
  width: 230px;
  height: 50px;
  padding-left: 22px;
  background-color: rgba(169, 169, 169, 0.5);
}
.nums2 li:hover {
  background-color: white;
  color: purple;
}
.container {
  margin-left: 120px;
}
.card {
  width: 370px;
  height: 288px;
  background: url(../css/img/bg-cards.png.webp);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: purple;
  border-radius: 20px;
  margin-left: 40px;
}

.crd {
  width: 370px;
  height: 288px;
  background: url(../css/img/bg-cards.png.webp);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: purple;
  border-radius: 20px;
  margin-bottom: 20px;
}

.mini-card {
  cursor: pointer;
  border-radius: 20px;
  width: 350px;
  height: 300px;
}
.mini-card .image img {
  margin-left: 195px;
  margin-top: 10px;
}
.mini-card .up-detail {
  border: solid 0px rgb(123, 117, 117);
  height: 25px;
  padding: 5px;
  width: 80px;
  border-radius: 10px;
  background-color: #b8a1c8;
  font-size: smaller;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  margin-top: 20px;
}
.mini-card .up-details {
  height: 25px;
  padding: 5px;
  width: 80px;
  border-radius: 10px;
  font-size: smaller;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  margin-top: 20px;
}
.mini-card .up-detail a {
  margin-left: 15px;
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
}
.mini-card .up-detail p {
  margin-left: 15px;
  margin-top: 20px;
  color: white;
  text-decoration: none;
}
.mini-card .up-detail h1 {
  margin-top: 60px;
  gap: 10px;
}
.mini-card .up-detail i {
  margin-top: 10px;
}
.mini-card .up-detail .button {
  border: 0px solid rgb(103, 96, 96);
  background-color: white;
  border-radius: 10px;
  width: 70px;
  height: 40px;
  color: white;
}
.mini-card .up-detail .button b {
  color: #4e1e72;
  font-size: 20px;
  margin-top: 10px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.mini-card .up-details a {
  margin-left: 15px;
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
}
.mini-card .up-details p {
  background-color: #b8a1c8;
  border-radius: 10px;
  height: 25px;
  width: 80px;
  padding: 5px;
  padding-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  color: white;
  text-decoration: none;
}
.mini-card .up-details h1 {
  margin-top: 60px;
  gap: 10px;
}
.mini-card .up-details i {
  margin-top: 10px;
}
.mini-card .up-details .button {
  border: 0px solid rgb(103, 96, 96);
  background-color: white;
  border-radius: 10px;
  width: 70px;
  height: 40px;
  color: white;
}
.mini-card .up-details .button b {
  color: #4e1e72;
  font-size: 20px;
  margin-top: 10px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.first {
  margin-left: 80px;
}
.cen {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cen h3 {
  margin-left: 90px;
  font-size: 32px;
  font-weight: 900;
}

.cen a {
  color: #818181;
}
.cen a:hover {
  color: purple;
  transition: 1.3s;
}
.product {
  width: 195px;
  height: 215px;
  margin-top: 40px;
  margin-left: 120px;
  border-radius: 20px;
}
.gray {
  background-color: #fafafa;
}
.mini-product {
  padding: 15px;
  width: 195px;
  background-color: white;
  height: 175px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.mini-product {
  margin-left: 30px;
}
.fa-star {
  font-size: 8px;
}
.invisible {
  color: transparent;
}
.minis {
  font-size: 12px;
  color: gray;
}
.minib {
  font-size: 12px;
  color: black;
}
.firstp:hover {
  background-image: url(../css/img/digital-apps-page-litres.png.webp);
  height: 230px;
  width: 192px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-decoration: transparent;
  transition: 1s;
}
.secondp:hover {
  background-image: url(../css/img/home-card-blutv.png.webp);
  height: 230px;
  width: 192px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-decoration: transparent;
  transition: 1s;
}
.thirdp:hover {
  background-image: url(../css/img/bg.png.webp);
  height: 230px;
  width: 192px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-decoration: transparent;
  transition: 1s;
}
.fourthp:hover {
  background-image: url(../css/img/home-card-kids.png.webp);
  height: 230px;
  width: 192px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-decoration: transparent;
  transition: 1s;
}
.fifthp:hover {
  background-image: url(../css/img/hero-background-1.png);
  height: 230px;
  width: 192px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-decoration: transparent;
  transition: 1s;
}
.application {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 55px;
  margin-left: 100px;
}
.application h1 {
  font-size: 50px;
}
.application p {
  color: #818181;
  font-size: 14px;
}
.application .button {
  display: flex;
}

.app-store {
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px gray solid;
  border-radius: 20px;
  width: 120px;
  height: 40px;
  gap: 5px;
  cursor: pointer;
}
.app-store a {
  text-decoration: none;
  color: black;
}
.app-store:hover {
  opacity: 0.7;
  transition: 0.3;
}
.play-store img {
  height: 15px;
  width: 15px;
}
.play-store {
  margin-left: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px gray solid;
  border-radius: 20px;
  width: 120px;
  height: 40px;
  gap: 5px;
  cursor: pointer;
}
.play-store a {
  font-size: 15px;
  text-decoration: none;
  color: black;
}
.play-store:hover {
  opacity: 0.7;
  transition: 0.3;
}
.application .akart {
  border: 1px #5c2483 solid;
  background-color: #5c2483;
  border-radius: 20px;
  width: 350px;
  height: 170px;
  cursor: pointer;
}
.akart-text {
  color: white;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 30px;
  gap: 20px;
}
.application .internet {
  border: 1px #fefdfd solid;
  border-radius: 20px;
  background-color: #fefdfd;
  width: 350px;
  height: 170px;
  cursor: pointer;
}
.b {
  margin-right: 60px;
}
.t {
  margin-right: 100px;
  margin-top: 100px;
}
.a {
  margin-right: 100px;
  margin-top: 100px;
}
.application .internet .text p {
  font-size: small;
}
.application .int-kart {
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 30px;
  gap: 20px;
}
.application .internet:hover {
  opacity: 0.6;
  color: #b6b6b6;
  transition: 0.3;
}
.application .phone-number {
  border: 1px #fefdfd solid;
  background-color: #fefdfd;
  border-radius: 20px;
  width: 350px;
  height: 170px;
  cursor: pointer;
}
.application .phone-number:hover {
  opacity: 0.6;
  color: #b6b6b6;
  transition: 0.3;
}

.application .phone-number .number {
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 30px;
  gap: 20px;
}

.pay {
  cursor: pointer;
  border: 1px #f35b0c solid;
  border-radius: 30px;
  background-color: #f35b0c;
  height: 50px;
  width: 200px;
}

.video {
  padding-top: 20px;
  position: relative;
  text-align: center;
  color: white;
}
.video .background-video {
  width: 100%;
  height: 600px;
  z-index: 0;
}
.videotext h2 {
  position: absolute;
  top: 45%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.choice-amount {
  cursor: pointer;
  border: 1px #00b0db solid;
  border-radius: 10px;
  background-color: #00b0db;
  height: 50px;
  width: 50px;
  margin-left: 100px;
}

.videotext h2 {
  font-size: 52px;
  font-weight: 700;
}

.videotext p {
  position: absolute;
  top: 60%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.payment {
  margin-top: 150px;
}

.payment .image a {
  border: 1px rgb(255, 255, 255) solid;
  border-radius: 20px;
  background-color: white;
  height: 50px;
  width: 400px;
  z-index: auto;
  position: absolute;
  margin-top: 150px;
  margin-left: 25px;
  text-align: center;
  justify-content: center;
  padding: 10px;
  text-decoration: none;
  color: black;
}
.input-amount {
  border-radius: 12px;
  border: solid 1px #ddd;
  background-color: #fff;
  padding: 15px 16px;
  line-height: 1.38;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  transition: all linear 0.3s;
  resize: none;
}
.image p {
  font-family: Arial, Helvetica, sans-serif;
  z-index: auto;
  position: absolute;
  margin-top: 130px;
  margin-left: 30px;
  font-size: small;
  color: #b6b6b6;
}
.payment .input {
  margin-left: 100px;
}

.input .button {
  margin-top: 50px;
}
.button p {
}
.input .button button {
  border: 0.5px rgb(123, 119, 119, 0.7) solid;
  border-radius: 10px;
  background-color: white;
  height: 40px;
  width: 300px;
}
.input h1 {
  font-size: 32px;
  font-weight: bolder;
}
.flx {
  margin-left: 70px;
}
.input .button button a {
  text-decoration: none;
  color: #09080a;
}
.amount {
  display: flex;
}

.price {
  margin-top: 10px;
  margin-left: 15px;
  display: flex;
  gap: 30px;
  z-index: auto;
  position: absolute;
}
.wht {
  color: white;
}
.price a {
  margin: 5px;
  font-size: 17px;
  text-decoration: none;
  color: #09080a;
}

.pay:hover {
  background-color: #d54f09;
  transition: 0.3;
}
.bay a {
  padding-left: 15px;
}
.minit {
  font-size: 14px;
  color: #818181;
}
.footerup {
  height: 200px;
  width: 100%;
  background-color: #000000;
}
.footerdown {
  height: 160px;
  width: 100%;
  background-color: #000000;
}
a:visited {
  color: #b2b2b2;
}
.small li a {
  font-weight: 300;
  font-size: 12px;
  color: #818181;
}
.img {
  margin: 40px;
  margin-left: 170px;
  width: 100px;
  height: 100px;
}
.ft {
  margin: 45px;
}
.e{
  margin-left: 44px;
}
.ft-ft a {
  font-size: 15px;
  line-height: 15px;
  color: white;
  font-weight: 700;
}
.q {
  padding-left: 11px;
}
.ft-ft a:hover {
  color: rgb(154, 91, 154);
  opacity: 3.7;
  transition: 1000ms;
}
.discuss p:last-child {
  padding-left: 10px;
  font-size: 11px;
}
.qq {
  margin-left: 70px;
}
.discuss {
  margin-top: 20px;
}
.ft-ft {
  line-height: 25px;
  margin-left: 45px;
}
.border {
  width: 1100px;
  height: 1px;
  background-color: #565656;
  margin-left: 160px;
  margin-top: 20px;
}
.brands {
  margin-top: 10px;
}

.rounded-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #262626;
  border-radius: 25px;
  text-decoration: none;
  color: #b2b2b2;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.rounded-button:hover {
  background-color: rgba(169, 169, 169, 0.8);
}
.abon {
  border: 1px solid hsl(0, 0%, 0%);
  background-color: #262626;
  border-radius: 25px;
  outline: none;
  font-size: 16px;
}

.button-icon {
  margin-right: 8px;
}

.rounded-form {
  text-align: center;
}

.rounded-input {
  padding: 10px;
  width: 224px;
  height: 40px;
  margin-bottom: 20px;
  border: 1px solid hsl(0, 0%, 0%);
  background-color: #262626;

  border-radius: 25px;
  outline: none;
  font-size: 16px;
}
.discusss{
  margin-top: 20px;
}
.discussss{
  margin-bottom: 10px;
}
.rounded-buttons {
  width: 100px;
  height: 40px; 
  border-radius: 20px;
  color: white; 
  border: none;
  border: 1px solid hsl(0, 0%, 0%);
  background-color: #262626;
  cursor: pointer;
}

.rounded-buttons:hover {
  background-color: rgba(169, 169, 169, 0.8);
}